<div class="container-fluid controls-container">
	<div class="row">
		<button class="col-sm-2 col-xs-6 col-sm-offset-3 btn btn-default" data-template="partials/add_user_modal.html" modal-trigger>
			Add user <span class="glyphicon glyphicon-plus-sign"> </span>
		</button>	

		<button class="col-sm-2 col-xs-6 col-sm-offset-2 btn btn-default" ng-show="hasUsers()" data-template="partials/remove_user_modal.html" modal-trigger>
			Remove user <span class="glyphicon glyphicon-minus-sign"> </span>
		</button>	
	</div>

	<div class="form-group" ng-show="hasUsers()">
		<div class="input-group">
			<div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>

			<input type="text" class="form-control" placeholder="Search" ng-model="searchCriteria">

		</div>      
	</div>
</div>

<div ng-show="hasUsers()">
	<table id="users-container" class="table table-hover" ng-show="filteredUsers.length > 0">
		<thead>
			<tr>
				<th>
					<a class="clickable" ng-click="changeOrder('firstName')">
						First name
						<span ng-show="sortType == 'firstName'" class="glyphicon" ng-class="sortReverse ? 'glyphicon-chevron-up' : 'glyphicon-chevron-down'"></span>
					</a>
				</th>
				<th>
					<a class="clickable" ng-click="changeOrder('lastName')">
						Last name
						<span ng-show="sortType == 'lastName'" class="glyphicon" ng-class="sortReverse ? 'glyphicon-chevron-up' : 'glyphicon-chevron-down'"></span>
					</a>
				</th>
				<th class="unnecessary-user-data">
					<a class="clickable" ng-click="changeOrder('birthDate')">
						Birthdate
						<span ng-show="sortType == 'birthDate'" class="glyphicon" ng-class="sortReverse ? 'glyphicon-chevron-up' : 'glyphicon-chevron-down'"></span>
					</a>
				</th>
				<th class="unnecessary-user-data">
					<a class="clickable" ng-click="changeOrder('email')">
						Email
						<span ng-show="sortType == 'email'" class="glyphicon" ng-class="sortReverse ? 'glyphicon-chevron-up' : 'glyphicon-chevron-down'"></span>
					</a>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="user in filteredUsers = (users | filter:searchCriteria) | orderBy:sortType:sortReverse">
				<td> {{user.firstName}} </td>
				<td> {{user.lastName}} </td>
				<td class="unnecessary-user-data"> {{user.birthDate}} </td>
				<td class="unnecessary-user-data"> {{user.email}} </td>
			</tr>
		</tbody>
	</table>

	<div class="well text-center" ng-show="filteredUsers.length == 0">
		No users match your search criteria.
	</div>
</div>

<div class="well text-center" ng-show="!hasUsers()">
	Currently there are no users in existence.
</div>
