<div class="container">
	<header>
		<p class="left-para">---</p>
		<p id="start-game-button" class="right-para">New Game</p>
	</header>
	<section id="fields" class="clear">
		<div></div><div></div><div></div>
		<div></div><div></div><div></div>
		<div></div><div></div><div></div>
	</section>
	<section id="names" class="hidden">
		<div>
			<ul class="vertical-list centered names-menu">
				<li> <h3> Enter player names: </h3> </li>
				<li> <input type="text" id="xnameholder" placeholder="X's name"> </input> </li>
				<li> <input type="text" id="onameholder" placeholder="O's name"> </input> </li>
				<li> <input type="submit" id="names-filled" value="Done"> </input> </li>
			</ul>
		</div>
	</section>
</div>
