.controls-container {
	margin-bottom: 50px;
}

.controls-container > * {
	margin-bottom: 30px;
}

.controls-container > *:last-child {
	margin-bottom: 0px;
}

.table.table-hover {
	width: 100%
}

.table.table-hover tr {
	width: 25%
}

@media screen and (max-width: 600px) {
	.unnecessary-user-data {
			display: none !important;
	}
}
